@import '../../sassStyles/_mixins.scss';

.category-div {
    font-size: 30px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin-left: 35px;
    margin-right: 35px;
    @include font
}

@keyframes slide-in-right {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0%);
    }
  }

@keyframes slide-in-left {
from {
    transform: translateX(-100%);
}
to {
    transform: translateX(0%);
}
}

.options-div {
    display: flex;
    flex-flow: column nowrap;
    flex: 4;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 30px 30px;
    animation-name: "slide-in";
    animation-duration: 0.5s ;
    animation-fill-mode: forwards;
}

.muscles-div {
    display: flex;
    flex-flow: column wrap;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 5px 5px;
}

.selection-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    flex: 6;
    width: 100%;
}

.left-arrow-div {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.right-arrow-div {
    display: flex;
    flex: 1;
    justify-content: flex-start;
}


.progress-container {
    display: "flex";
    flex-direction: "column";
    align-items: "center";
    justify-content: "center";
    font-size: 2rem;
    padding-top: 3rem;
    padding-bottom:0.5rem
};

.tab-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
};

.active-tab {
    width: 3rem;
    height: 2rem;
    background-color: grey;
    border-radius: 8px;
    margin: 0.2rem;
    display: flex;
    font-size: 90%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
};

.inactive-tab {
    width: 3rem;
    height: 2rem;
    background-color: lightgrey;
    border-radius: 8px;
    margin: 0.2rem;
    display: flex;
    font-size: 90%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.progress-text {
    font-size: 25px;
    text-align: center;
    @include font;
}

// .modal-height {
//     max-height: 80vh;
// }

.save-button {
    display:flex;
    justify-content: center;
    align-items:center;
    background-color: whitesmoke;
    width: 75px;
    height: 6vh;
    min-height: 30px;
    max-height: 40px;
    text-align: center;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 8px;
    @include font;
    font-size: 18px
}

.modal-body {
    display: flex;
    overflow: hidden;
    justify-content: center 
}

.modal-text {
    @include font;
    font-size: 24px;
    text-align: center;
}

.modal-header {
    justify-content: center;
}

.icon {
    color: black;
}

.muscleGroup-bar {
    display: flex;
    width: 80%;
    justify-content: center;
    padding:10%;
}


.muscleGroup-bar-text {
    @include font;
    font-size: 15px;
    text-align: center;
    margin-inline: 5%;
}
