@import '../../sassStyles/_mixins.scss';


@media (hover: hover) {
    .basic-button:hover {
    background: #f1d901;
    }
}

.basic-button:hover{
    background: #f1d901;
}

.basic-button {
    background-color: #FFE600;
    color: black; 
    font-size: 13px;
    @include font;
    font-weight: bold;
    padding: 10px; 
    width: 200px;
    height: 50px;
    margin: auto;
    text-align: center;
}

.button-text {
    margin: 0px;
    font-size: 18px;
    text-transform: capitalize;
    @include font
}