@import '../../sassStyles/_mixins.scss';

.progress-bar{
    width: 100%;
    padding-bottom: 2%;
}

.container-rest{
    height: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; // keeps stuff centered


    &__message-black1 {
        color: black;
        @include font; 
        font-size: 50px;
        text-transform: capitalize; // adds uppercases letter
        }

    &__timer-div{
        flex-grow: 0.5;

        // in the middle of its div vertically
        display:grid; 
        place-items: center;
    }

    &__message-black2 {
        color: black;
        @include font; 
        font-size: 30px;
        text-transform: capitalize; // adds uppercases letter

        // Keeps text centered
        display: grid; 
        place-items: center;

        &__message-yellow {
            
            color: #FFE600;
            @include font-no-colour; 
            font-weight: 700;
            // flex:1.5; 
            // white-space: nowrap;
            font-size: 50px; 
            text-transform: capitalize;
        }
    }

    &__rest-controls {
        width: 89%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 4%;

        &__icon {
            width: 11.3%; // how far apart icons are from each other

            &__ten-seconds {
                width: 13%;
            }
            cursor: pointer;
        }
    }
}


@media (max-width: 499px){
    .progress-bar{
        padding-bottom: 4%;
    }

    .container-rest {
        width: 98vw;

        &__message-black1 {
            font-size: 40px;
        }

        &__message-black2 {
            font-size: 30px;

            &__message-yellow {
                font-size: 40px;
            }
        }
        
        &__rest-controls {
            width: 100%;
            padding-bottom: 6%;
            &__icon {
                width: 20%;
                height: 60%;
            }
        }
    }
}

@media (min-width: 500px) and (max-width: 999px) {
    .container-rest {
        width: 80vw;

        &__message-black1 {
            font-size: 40px;
        }

        &__message-black2 {
            font-size: 30px;

            &__message-yellow {
                font-size: 40px;
            }
        }

        &__rest-controls {
            &__icon {
                height: 49%;
            }
        }
    }
}

@media (min-width: 1000px) { // make the youtube player small if the screen is particularily large
    .container-rest {
        width: 55vw;
        &__rest-controls {
            padding-bottom: 2.75%;
            &__icon {
                height: 30%;
            }
        }
    }
}