.progBarContainer {
    width: 100%;
    background-color: #e0e0de;
    border-radius: 50px;
  }

.filler{
    height: 100%;
    background-color: #FFE600;
    border-radius: inherit;
    text-align: right;
    color: black;
    font-weight: bold;
    line-height: 2;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 10px;
 }