@import '../../sassStyles/_mixins.scss';

//  THIS IS THE STYLING FOR THE YOUTUBE PAGES

.progress-bar{
    width: 100%;
    padding-bottom: 2%;
}

.container-settings{
    height: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
    &__message1 {
        color: black;
        @include font; 
        font-size: 50px;
        text-transform: capitalize; // adds uppercases letter
        
        // For sets
        display:grid; 
        place-items: center;
        text-align: center;

        &__sets{
            color: #a15050c2; // change for import variable 
            @include font; 
            font-size: 25px;
            text-transform: none;
            padding-bottom: 1%;
        }
    }

    &__youtube-controls {
        padding-top: 4%;
        align-self: center; // keeps it centered
        width: 790px;
        height: 120px;
        padding-bottom: 4%;
        
        display: flex;
        justify-content: center;
        align-items: flex-end;
        
        &__icon {
            width: 90px; // how far apart icons are from each other
            height: 31.5px;

            cursor: pointer;
        }
    }
}


@media (max-width: 499px){ 
    .progress-bar{
        padding-bottom: 4%;
    }

    .container-settings {
        width: 98vw;

        &__message1 {
            font-size: 40px;
        }
        &__youtube-controls {
            width: 100%;
            padding-bottom: 6%;
            &__icon {
                width: 70px; // how far apart icons are from each other
                height: 31.5px;
            }
        }
    }
}

@media (min-width: 500px) and (max-width: 649px) {
    .container-settings {
        width: 80vw;

        &__message1 {
            font-size: 45px;
        }

        &__youtube-controls{
            width: 100%;
            
            &__icon {
                width: 70px; // how far apart icons are from each other
                height: 31.5px;
            }
        }
    }
}



@media (min-width: 650px) and (max-width: 999px) {
    .container-settings {
        width: 80vw;

        &__message1 {
            font-size: 45px;
        }
        &__youtube-controls{
            width: 100%;
            
            &__icon {
                width: 70px; // how far apart icons are from each other
                height: 31.5px;
            }
        }
    }
}

@media (min-width: 1000px) { // make the youtube player small if the screen is particularily large
    .container-settings {
        width: 55vw;
    }
}