@import '../../sassStyles/_mixins.scss';

.container-youtube {
    display:grid;
    place-items: center;
}

.container-settings{
    display: flex;
    flex-flow: column nowrap; // creates the vertical component
    align-items: center; // keeps the button centerd
    width: 100vw;
    height: 100vh;

    &__progress-bar{
        padding-top: 2.5%;
        width: 100%;

    }
    &__message1 {
        color: black;
        @include font; 
        font-size: 50px;
        text-transform: capitalize; // adds uppercases letter
        display:grid;
        place-items: center;
        }

    &__sets{
        color: #a15050c2; // change for import variable 
        @include font; 
        font-size: 25px;
        text-transform: capitalize; // adds uppercases letter
        padding-bottom: 5%;
    }

    &__wrap{
        position: relative;
        align-items:center;
        justify-content: center;

        width: 100%; // this makes it take the whole width of the container

        }

    &__iFrameYoutube{
        width:100%; // this makes it responsive to the width of wrap
        align-items:center;
        justify-content: center;
        }
}


.youtube-controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    // border: 1px solid red;
    padding-top: 1%;

    &__icon {
        height: 50%;
        width: 10%;
        // margin: 5px;
    }

}


@media (max-width: 649px){
    .container-settings {
        width: 98vw;

        &__message1 {
            font-size: 40px;
        }
    }

    .youtube-controls {
        width: 98vw;
    }
}

@media (min-width: 650px) and (max-width: 799px) {
    .container-settings {
        width: 80vw;

        &__message1 {
            font-size: 45px;
        }

    }
    .youtube-controls {
        width: 80vw;

        &__icon {
            height: 44%;
        }
    }
}
@media (min-width: 800px) { // make the youtube player small if the screen is particularily large
    .container-settings {
        width: 70vw;
    }
    .youtube-controls {
        width: 70vw;

        &__icon {
            height: 37%;
        }
    }
}

@media (min-width: 1000px) { // make the youtube player small if the screen is particularily large
    .container-settings {
        width: 55vw;
    }
    .youtube-controls {
        width: 55vw;

        &__icon {
            height: 30%;
        }
    }
}