@import '../../sassStyles/_mixins.scss';

.progress-bar{
    width: 100%;
    padding-bottom: 2%;
}

.container-settings{
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    &__message1 {
        color: black;
        @include font; 
        font-size: 50px;
        text-transform: capitalize; // adds uppercases letter
        
        // For sets
        display:grid; 
        place-items: center;

        &__sets{
            color: #a15050c2; // change for import variable 
            @include font; 
            font-size: 25px;
            text-transform: none;
        }
    }

    &__youtube-controls {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 2%;
        
        &__icon {
            width: 10%; // how far apart icons are from each other

            &__ten-seconds {
                width: 13%;
            }
            cursor: pointer;
        }
    }
}


@media (max-width: 499px){ 
    .container-settings {
        width: 98vw;

        &__message1 {
            font-size: 40px;
        }
        &__youtube-controls {
            &__icon {
                width: 20%;
                height: 60%;
            }
        }
    }
}

@media (min-width: 500px) and (max-width: 799px) {
    .container-settings {
        width: 80vw;

        &__message1 {
            font-size: 45px;
        }

        &__youtube-controls {
            &__icon {
                height: 50%;
            }
        }
    }
}
@media (min-width: 800px) { // make the youtube player small if the screen is particularily large
    .container-settings {
        width: 70vw;
        &__youtube-controls {
            &__icon {
                height: 37%;
            }
        }
    }
}

@media (min-width: 1000px) { // make the youtube player small if the screen is particularily large
    .container-settings {
        width: 55vw;
        &__youtube-controls {
            &__icon {
                height: 30%;
            }
        }
    }
}