@media (hover: hover) {
    .basic-button:hover {
    background: #f1d901;
    }
}

.basic-button:hover{
    background: #f1d901;
}

.basic-button {
    background-color: #FFE600;
    color: black; 
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: bold;
}