@import '../../sassStyles/variables';
@import '../../sassStyles/mixins';


.slide-in {
    display: flex;
    padding-bottom: 0.5rem;
    align-items: center;
    animation: slide-in 0.5s linear;
    -webkit-animation: slide-in 0.5s linear; 
    animation-duration: 0.75s;
    transform-origin: left; 
}
    
@keyframes slide-in {
        from {
          transform: translateX(100%);
        }
        to {
          transform: translateX(0%);
        }
    
}


:root {
    --transition: 0.4s ease;
}

.item-fadein{
    display: flex;
    align-items: center;
    padding-bottom: 0.5rem;
    -webkit-animation: fadein;
    animation: fadein;
}

.item-fadeout{
    display: flex;
    align-items: center;
    padding-bottom: 0.5rem;
    -webkit-animation: fadeout .3s linear forwards;
    animation: fadeout .3s linear forwards;
}

@-webkit-keyframes fadeout {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes fadeout {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.custom-container {

    flex-direction: column;
    transition: min-height var(--transition);
    overflow: hidden;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background-color: $primary-colour;
    //border: 3px $border-lining-colour solid;
    max-height: 60px;
}

@-webkit-keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
    
@keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
    
.item1 {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}
.exercise-card {
    display: flex;
    flex-direction: row;
    text-transform: capitalize;
    align-items: center;
    height: 60px;
    transition: opacity 0.5s;
    


    &__right-container {
        
        display: flex;
        flex-direction: row;
        width: 25%;
        justify-content: flex-end;
        text-align: left;
    }

    &__left-container {
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 90%;
        text-align: left;
        padding-left: 10px;
    }

    &__exercise-name {
        padding-left: 5px;
        font-size: small;
    }

    @media (min-width: 370px) {
        &__exercise-name {

            font-size: medium;
        }
    }

    @media (min-width: 625px) {
        &__exercise-name {

            font-size: large;
        }
    }


    &__reload {
        margin-right: 10px;
    }

    &__trash {
        margin-right: 10px;
    }

    &__chevron {
        stroke-width: 0.5;
        padding-right: 5px;
        transition: transform var(--transition);

        &__open {
            transform: rotate(90deg);
            //transition: var(--transition);
        }


    }
}


.additional-info {
    display: flex;
    font-size:x-small;
    height: 75px;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    //text-align: left;
    border-top: 2px black solid;
    padding-inline: 20px;
    align-items:center;
    background-color: white;
  
}
@media (min-width: 525px) {
    .additional-info {

        font-size: small;
    }
}


.info-container {
  
    width: 30vw;
}
.warmup-cooldown-container{
    width: 50%;
}
.rest-card {

    @include flex-center;
    flex-direction: row;
    border-radius: 10px;
    height: 30px;
    font-size: small;
    

    &__text {
        font-size: small;
        padding-left: 5px;
        padding-bottom: 0;
        margin-bottom: 0;
        
    }
    @media (min-width: 370px) {
        &__text {

            font-size: medium;
        }
    }


}