@import '../../sassStyles/variables';
@import '../../sassStyles/mixins';

:root {
    --transition: 0.4s;
}

.custom-container {

    flex-direction: column;
    transition: min-height var(--transition);
    overflow: hidden;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: $primary-colour;
    border: 3px $border-lining-colour solid;
    max-height: 50px;
}

.exercise-card {
    display: flex;
    flex-direction: row;
    text-transform: capitalize;
    align-items: center;
    height: 44px;


    &__right-container {

        display: flex;
        flex-direction: row;
        width: 30%;
        justify-content: flex-end;
        text-align: left;
    }

    &__left-container {
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 90%;
        text-align: left;
    }

    &__exercise-name {
        font-size: small;
    }

    @media (min-width: 370px) {
        &__exercise-name {

            font-size: medium;
        }
    }

    @media (min-width: 430px) {
        &__exercise-name {

            font-size: large;
        }
    }


    &__reload {
        margin-right: 10px;
    }

    &__trash {
        margin-right: 10px;
    }

    &__chevron {
        position: relative;
        transition: transform var(--transition);

        &__open {
            transform: rotate(180deg);
            //transition: var(--transition);
        }


    }
}

.additional-info {
    display: flex;
    font-size: small;
    margin-left: 10px;
    height: 50px;
    flex-direction: column;
    text-align: left;
}


.rest-card {

    @include flex-center;
    flex-direction: row;
    border-radius: 10px;
    height: 50px;
    font-size: large;

    &__text {
        font-size: large;
        padding-left: 5px;
        padding-bottom: 0;
        margin-bottom: 0;
    }


}