.playlist-window {
    padding-top: 100px;
    display: flex;
    justify-content: center;
   

    &__container {
    padding-top: 30px;
    padding-inline: 30px;
    border: 3px black solid;
    background-color: rgb(235, 235, 235);
    height: 400px;
    width: 70%;
    border-radius: 10px;
    overflow-y: auto;
    text-align: center;

    // for above see: https://stackoverflow.com/questions/9811465/scrollable-div-inside-container
    }

}

.exercise-card {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: #FFE600;
    border: 2px black solid;
    height: 50px;
    font-size: large;
    
    
    

    &__left-container {
        display: flex;
        flex-direction: row;
        align-items: center;
  
    }

    &__three-dots {
        margin-right: 20px;
    }

    &__chevron {
        margin-left: 20px;
        margin-right: 10px;

        &__open {
            transform: rotate(180deg);
            transition: 0.8s;
        }

        &__closed {
            transform: rotate(0deg);
            transition: 0.8s;
        }

    }
}

.rest-card {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 50px;
    font-size: large;

    &__text {
        font-size: large;
        padding-left: 5px;
    }


}

.workout-heading{
    
    font-size:x-large;
    padding-bottom: 20px;
    
}

.card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-start;

    background-color: #FFE600;
    padding: 10px;
    height: 80px;
    font-size: large; 
    
}