
@media (hover: hover) {
    .button-unselected:hover {
    background: #eed600;
    }
    .multi-button-unselected:hover {
    background: #eed600;
    }

    .button-selected:hover {
        background: #eed600;
    }
    .multi-button-selected:hover {
        background: #eed600;
    }
    
}
@import '../../sassStyles/_mixins.scss';

.button-unselected {
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: whitesmoke;
    width: 40vw;
    min-width: 170px;
    max-width: 250px;
    height: 8vh;
    min-height: 10px;
    max-height: 60px;
    text-align: center;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 8px
}

.button-unselected:active {
    background-color: #FFE600;
}

.button-selected {
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: #FFE600;
    width: 40vw;
    min-width: 170px;
    max-width: 250px;
    height: 8vh;
    min-height: 10px;
    max-height: 60px;
    text-align: center;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 8px
}

// .button-selected:active {
//     background-color: #FFE600;
// }

.button-text {
    margin: 10px;
    font-size: 22px;
    @include font;
    text-transform: capitalize

}

.mult-button {
    justify-content: center;
    align-items: center;
    background-color: #FFE600;
}

.multi-button-unselected {
    justify-content: center;
    align-items:center;
    background-color: whitesmoke;
    width: 40vw;
    min-width: 170px;
    max-width: 250px;
    height: 8vh;
    min-height: 10px;
    max-height: 60px;
    text-align: center;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 8px;

    // &:hover {
    //     background-color: #FFE600;
    // }
}

.multi-button-selected {
    display:flex;
    justify-content: center;
    align-items:center;
    background-color:#FFE600;
    width: 40vw;
    min-width: 170px;
    max-width: 250px;
    height: 8vh;
    min-height: 10px;
    max-height: 60px;
    text-align: center;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 8px;
}

.button-text-wrapper {
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.tick-wrapper {
    display: flex;
    width:20%;
    align-items: center;
    justify-content: center;
}

.tick-icon {
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: black;
    margin-right: 2%;
    position: absolute;
}

.multi-button-text {
    display:inline-block;
    vertical-align: middle;
    width:70%;
    margin: 10px;
    font-size: 18px;
    @include font;
    text-transform: capitalize; 
    white-space: nowrap;

}
.small-button {
    display:flex;
    justify-content: center;
    align-items:center;
    background-color: lightgray;
    width: 25vw;
    min-width: 100px;
    max-width: 120px;
    height: 6vh;
    min-height: 10px;
    max-height: 40px;
    text-align: center;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 20px;
    @include font;
    font-weight: 600;
    font-size: 16px
}

.icon {
    font-size: 30px;
    margin: 0px;
    color:black;
    justify-content: flex-end;
    text-align: center;
    align-items: flex-end;

}

.nav-button{
    font-size:50px;
    cursor: pointer;
    color: gray;
    animation: fade-in 1s;
}