@media (hover: hover) {
    .button:hover {
    background: #f1d901;
    }
}

@import '../../sassStyles/_mixins.scss';

.button {
    justify-content: center;
    align-items:center;
    background-color: #FFE600;
    width: 40vw;
    min-width: 150px;
    max-width: 250px;
    height: 8vh;
    min-height: 10px;
    max-height: 60px;
    text-align: center;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 8px
}

.button-text {
    margin: 0px;
    font-size: 22px;
    @include font
}

.mult-button:hover{
    background: #f1d901;
}

.mult-button {
    justify-content: center;
    align-items: center;
    background-color: #FFE600;
}

.multi-button {
    justify-content: center;
    align-items:center;
    background-color: #FFE600;
    width: 40vw;
    min-width: 150px;
    max-width: 250px;
    height: 8vh;
    min-height: 10px;
    max-height: 60px;
    text-align: center;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 8px;
}