@media (hover: hover) {
    .button:hover {
    background: #f1d901;
    }
}

.button {
    justify-content: center;
    align-items:center;
    background-color: #FFE600;
}

.mult-button:hover{
    background: #f1d901;
}

.mult-button {
    justify-content: center;
    align-items: center;
    background-color: #FFE600;
}