.button:hover {
    background: rgb(224, 221, 0);
}

.button {
    background-color: rgb(255, 252, 65);
}

.mult-button:hover{
    background: rgb(224, 221, 0);
}

.mult-button {
    background-color: rgb(255, 252, 65);
}